@{
    ViewData["Title"] = "UploadUserData";
    @model CustomerDataProcess.Models.UploadDataModel;
}

<h2>UploadUserData</h2>
<style>
    .centerDiv {
        width: 50%;
        height: 200px;
        margin: 0 auto;
    }
    .file {
        visibility: hidden;
        position: absolute;
    }
</style>

<div class="centerDiv">
    <form asp-action="UploadUserData" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
            <label>Upload Data Type</label>
            <select asp-for="UploadTypeId"
                    class=form-control
                    asp-items="@Model.UploadDataTypes">
                <option>Please select</option>
            </select>
        </div>
        <div class="form-group">
            <label>Upload Data File(excel, csv only)</label>
            <input type="file" name="files" id="files" class="file" />
            <div class="input-group col-xs-12">
                <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
                <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
                <span class="input-group-btn">
                    <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                </span>
            </div>
        </div>

        <div style="text-align:center">
            <button type="submit" class="btn">Cancel</button>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>

    </form>

    
</div>






